name = "nautilus"
compatibility_date = "2024-10-01"

kv_namespaces = [
  { binding = "NAUTILUS_DATA", id = "f273064ffa244b1c9bd696e915ed9197", preview_id = "f273064ffa244b1c9bd696e915ed9197" },
  { binding = "NAUTILUS_FILES", id = "902f25c1b1a642d9ab653a58eb1dea2e", preview_id = "c85af804006e4b9e8c9b60d5d31a5af2" }
]